.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    opacity: 0;
    transition: opacity 500ms ease;
    text-align: center;

    &__escape-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
    }

    &__confirmation {
        width: calc(100% - 4rem);
        max-width: 450px;
        background: white;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
        padding: 2rem;
        border-radius: 2px;
        margin: 0 auto;
        position: relative;
    }

    &__icon {
        font-size: 3rem;
        margin: var(--rhythm-half);
    }

    &__success-btn {
        background: var(--color-accent);
    }

    span:not(:first-child) {
        margin-left: 1rem;
    }
}