.navbar {
    position: fixed;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background: black;
    height: 40px;
    // height: 100%;
    opacity: 0;

    a {
        outline: none;
    }

    &__icon {
        max-width: 2.5rem;
        height: 2.5rem;
        width: 100%;
        justify-content: center;
        outline: none;

        svg {
            width: 100%;
            height: auto;
            opacity: 0.5;
            transition: transform ease 150ms;
            outline: none;
        }
    }
}

.active-icon {
    svg {
        opacity: 1;
        fill: white;
        transform: scale(1.1);
    }
}