.snap-container {
    width: 100%;
}

.camera {
    min-height: calc(100vh - (var(--rhythm) * 2));

    &__button {
        width: 100%;
        max-width: 450px;
    }

    &__container {
        position: relative;
        width: 100%;
        max-width: 450px;
        height: 350px;
        min-width: auto;
        margin: 0 0 2em;
        border: solid 2px #222;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.1);

        @media only screen and (max-width: 500px) {
            height: 280px;
        }
    }

    .video, .image {
        top:0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        appearance: none;
        margin: 0;
        padding: 0;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        padding: 1rem;
    }

    .image {
        object-fit: cover;
    }
}


.header {
    font-weight: bold;

    small {
        font-weight: 500;
    }

    @media (max-width: 500px) {
        font-size: 1.25rem;
        line-height: 1.5;

        small {
            font-size: 0.9rem;
        }
    }
}

canvas {
    display: none;
}