.link-arrow {
    // position: absolute;
    // bottom: 0;
    // right: 0;
    // border-bottom: solid 3px hotpink;
    // background: pink;
    // border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    button {
        background: none;
        border: none;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 300;
    }
}