header {
    position: absolute;
    top: 0;
    left: 0;
    background: pink;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-height: 40px;
    padding: 0 1rem;
    // align-items: center;
    display: none;
    opacity: 0;
    transition: opacity 500ms ease;

    .logo {
        width: 80px;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    z-index: 100000;
}

// .image-filter {

// }