.dashboard {
   width: 100%;
   height: 100%;
   position: relative;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 5px;
    grid-gap: 1rem;
    margin-top: var(--rhythm);
}

.span-2 {
    grid-column: span 2;
}