.slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    padding: var(--rhythm) 0;

    &__container {
        width: 100%;
        height: 100%;
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
    }

    .image-container {
        flex: 1 0 auto;
        max-width: 100%;
        padding: var(--rhythm-double) var(--rhythm);
        scroll-snap-align: start;
    }

    &__image {
        width: 100%;
        height: auto;
        border-radius: 10px;
        // margin: 0 var(--rhythm-half);
        // scroll-margin: var(--rhythm-half);
        object-fit: contain;
    }
}