$decrement: 0.25;
$animation-time: 2s;
$num-circles: 4;

.loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: pink;
    opacity: 0;
    transition: opacity 500ms ease;
    z-index: 100000;
}

@function dec($seconds) { // adding animation delay between each circle
    @return $seconds * 0.25;
  }
  
  @for $n from 1 through $num-circles {
    .circle-#{$n} {
      animation: fadeInOut $animation-time ease-in-out #{dec($n)}s infinite;
    }
}

.loading__circle {
    width: 1.56em;
    height: 1.56em;
    box-shadow: 1px 1x 1px rgba(255,255,255,0.1);
    border-radius: 50%;
    background: rgba(255,255,255,0.25);
    margin: 0.5em;

    @media screen and (max-width: 500px) {
        width: 1em;
        height: 1em;
    }
}

@keyframes fadeInOut {
    50% {
      transform: translateY(-10px);
      background: rgba(255,255,255,0.8);
      box-shadow: 2px 2px 5px rgba(255,255,255,0.2);
    }
}