.app {
  position:relative;
  display: block;
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  transition: filter 500ms ease;
}

.container {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: var(--rhythm) var(--rhythm-half) calc(40px + var(--rhythm-half));
}