* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  background: #f1f1f1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.text-center {
    text-align: center;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  align-items: center;
}

button {
  cursor: pointer;
}

// @media (max-width: 500px) {
//   html {
//     font-size: 12px;
//   }
// }

// a {
//   font-size: 2.25rem;
//   text-decoration: none;
//   color: var(--color-link);

//   &:hover {
//     color: var(--color-link-hover);
//   }
// }